<footer class="footer">
  <div class="container footer-grid">
    <div class="footer-col">
      <h3 class="footer-brand">MKB <span>DEVELOPERS</span></h3>
      <p>Your trusted partner in finding the perfect property. We build homes that last a lifetime.</p>
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
    
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/properties">Properties</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Contact Us</h4>
      <ul class="contact-info">
        <li><i class="fa-solid fa-location-dot"></i> #123, Main Road, Bangalore</li>
        <li><i class="fa-solid fa-phone"></i> +91 98456 75299</li>
        <li><i class="fa-solid fa-envelope"></i> info@mkbdevelopers.com</li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2026 MKB Developers. All rights reserved.</p>
    <div class="powered-by">
      <span>Designed and Marketed by</span>
      <a href="https://www.neeraali.com" target="_blank">
        <img src="/assets/logo4.png" alt="Neeraali Digital" class="footer-logo">
      </a>
    </div>
  </div>
</footer>
