<div class="top-bar">
  <div class="container top-bar-inner">
    <div class="contact-info">
      <div class="contact-item">
        <a href="tel:+917090444445" class="phone-link">
          <i class="fa-solid fa-phone phone-shake-animation"></i>
          <span><span class="city-label">Bangalore : </span>+91-7090444445</span>
        </a>
      </div>
    </div>
    
    <div class="top-bar-right">
      <div class="email-info">
        <i class="fa-solid fa-envelope"></i>
        <span>sales@mkbdevelopers.com</span>
      </div>
      <span class="separator">|</span>
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
