<div class="top-bar">
  <div class="container top-bar-inner">
    <div class="contact-info">
      <div class="contact-item">
        <i class="fa-solid fa-phone"></i>
        <span>Kerala : +91-XXXXX XXXXX</span>
      </div>
      <span class="separator">|</span>
      <div class="contact-item">
        <span>Bangalore : +91-XXXXX XXXXX</span>
      </div>
      <span class="separator">|</span>
      <div class="contact-item">
        <span>Dubai : +971-XXXXX XXXXX</span>
      </div>
    </div>
    
    <div class="top-bar-right">
      <div class="email-info">
        <i class="fa-solid fa-envelope"></i>
        <span>sales@mkbdevelopers.com</span>
      </div>
      <span class="separator">|</span>
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
